.businesses {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  color: #CE4257;
  font-weight: bold;
  background-color: #fca4a4;
}

.businessContainer {
  border: 2px solid black;
  margin: 45px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background-color: white;
  padding: 5px;
}

.businessInfo {
  display: flex;
  width: 50%;
  font-family:fantasy;
  font-weight:bolder;
  text-decoration: none;
  color:black;
}

.businessContainer:hover {
  background-color:lightsalmon;
  border: 3px solid black;
}
