.create-container {
  border: 1px solid black;
  background-color: #fca4a4;
  display: flex;
  align-content: center;
  margin-top: 25px;
}

.createForm {
  display: flex;
  justify-content: center;
  margin: 25px;
}
