.business-page-container {
  border: 1px solid black;
  background-color: #fca4a4;
}
.businessPageInfo {
  font-family:fantasy;
  font-weight:bolder;
}

.business-page-inner {
  margin: 25px;
  border: 2px solid black;
  background-color: white;
}
