.navBar {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  font-weight: bold;
  margin: 25px;
  padding: 10px;
  background-color: #fca4a4;
}

.profileButton {
  display: flex;
  justify-content: flex-end;
  height: 50%;
}

.li-logout {
  width: 50%;
}
